@model SmartWebApp.Models.Movies
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<h2>@Model.Date</h2>
<h2>@Model.Count</h2>
<h2>@Model.Id</h2>





